:root {
    --menu-background: #1D2738;
    --menu-font: 'Poppins', sans-serif;
    --menu-font-color: #505050;
}

* {
    padding: 0;
    margin: 0;
}

header {
    
    width: 800px;
    height: 350px;
}

nav {
    float: right;
    font-family: var(--menu-font);
    font-size: 14px;
    font-weight: bold;
    color: var(--menu-font-color);
}

logo {
    float: left;
}

nav ul {
    list-style: none;         
    position: relative; 

    
}

nav ul li {
    float: left;    
    padding: 0px 15px;
    text-transform: uppercase;
    line-height: 115px;
}

nav ul li a {    
    text-decoration: none;
    display: block;
    padding: 10px 5px;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #18ba60;
}

nav li ul li {    
    float: none;    
    padding: 0;
    
}

nav li > ul {
    display: none;
    position: absolute;
}

nav li:hover > ul {
    display: inline-block;

}

nav li ul li a {    
    width: 300px;
    background: var(--menu-background);   
    padding: 0px 0px 0px 15px;
	line-height: 45px;
	border-bottom: 1px solid #2d374a;
	color: #ffffff;
    font-size: 13px;
    letter-spacing: 1px;
    transition: background-color .5s ease-in-out;
}

nav li ul li > a:hover {
    background-color: #18ba60;
	color: #ffffff;
    opacity: 1;
}
