:root {
    --menu-background: #1D2738;
    --menu-font: 'Poppins', sans-serif;
    --menu-font-color: #505050;
    --showcase-font: 'Raleway', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    
}

header,
nav,
section {
    display: block;
}

header {
    position: absolute;
    width: 100vw;
    z-index: 1000;
}

nav {
    float: right;
    font-family: var(--menu-font);
    font-size: 14px;
    font-weight: bold;
    color: var(--menu-font-color);
    margin-right: 150px;
    border-bottom: 1px solid #eee;

}

logo {
    float: left;
}

nav ul {
    list-style: none;
}

nav ul li {
    float: left;
    padding: 0px 15px;
    text-transform: uppercase;
    line-height: 115px;
    position: relative;

}

nav ul li a {
    text-decoration: none;
    display: block;
    padding: 10px 5px;
    transition: color 0.7s ease-in-out;
    color: #ffffff;

}

nav ul li a:hover {
    color: #18ba60;
}

nav li ul li {
    float: none;
    padding: 0;
}

nav ul li>ul {
    visibility: hidden;
    position: absolute;
    top: 120%;
    border-top: 0px;
    transition: top 0.5s ease-in-out, border-top 0.6s ease-in-out;
}

nav ul li:hover>ul {
    visibility: visible;
    border-top: 1px solid #eee;
    top: 100%;
}

nav li ul li a {
    width: 300px;
    background: #1D2738;
    padding: 0px 0px 0px 15px;
    line-height: 45px;
    border-bottom: 1px solid #2d374a;
    color: #ffffff;
    font-size: 13px;
    letter-spacing: 1px;
    transition: background-color 0.7s ease-in-out;
}

nav li ul li>a:hover {
    background-color: #18ba60;
    color: #ffffff;
}

nav li:nth-child(5)>ul li a {
    width: 200px;
}

#showcase {
    width: 100vw;
    height: 100vh;
    background-image: url("https://source.unsplash.com/joJvfijEc4s/1600*900");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.8;
    position: relative;        
}

#showcase .container {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 85vw;
    height: 75vh;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*
#showcase .body, #image_separator.body {
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
*/


 #showcase .body, #image_separator .body {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: var(--showcase-font);
    font-size: 2.5rem;    
}

#showcase .body {
    top: 60%;
    left: 50%;
    word-wrap: break-word;
}

#showcase .body a {
    font-size: 1.5rem;
    border: 1px solid #00ff6C;
    width: 300px;
    padding: 10px 50px;
    margin-top: 2em;
    display: inline-block;
    text-decoration: none;
    color: #00ff6C;
    font-family: Semi-Bold;
}

#showcase .body a:hover,
#showcase .body a:focus {
    background: #00ff6C;
    color: #232323;
}


#showcase .body span {
    font-family: Semi-Bold;
}

/* ----------------  Showcase Textbox About ---------------------- */

#intro .container {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    background-image: url("https://source.unsplash.com/5gGcn2PRrtc");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    position: relative;
}

#intro .container::after {
    content: "";
    position: absolute;
    display: block;
    background-color: rgba(0, 0, 0, 0.35);
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

#intro .textbox-about {
    width: 40%;
    max-width: 350px;
    background-color: #232323;
    outline: 2px solid #00ff6C;
    outline-offset: -2.5em;
    color: #fff;
    padding: 4em;
    position: relative;
    text-align: center;
    top: -5em;
    z-index: 10;
}

#intro h1 {
    position: absolute;
    color: #00ff6C;
    top: 1.0em;
    background: #232323;
    padding: 0 .75em;
    left: 50%;
    transform: translateX(-50%)
}

.clearfix {
    clear: both;
}


/* --------------------------  Overview  ------------------------ */
/*

    3 Cards in horizontal layout and hovering over it pulls down a blanket of description

*/

.image-title a {
    color: white;
    text-decoration: none;
}


#overview .container {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    border: 1px solid green;
    height: 1700px;
}

/* height determines the point where the image-title banner over the image disappears at the bottom */ 

.col-md-4 {
    float: left;
    width: 27vw;
    height: 280px;
    position: relative;   
    margin-top: 10em;
}

.col-md-4:nth-child(1) {
    margin-left: 15px;
}

.imagebox-item {
    /* border: 1px solid black; */
    max-width: 27vw;
    position: absolute;
    padding-top: 20px;
    overflow: hidden;
    height: inherit;
}

.imagebox-item .imagebox-image img {
    /* border: 1px solid yellow; */
    max-width: 27vw;
    padding: 5px;

}

.image-title {
    position: absolute;
    padding: 10px 40px 11px 20px;
    background: rgba(65, 84, 100, 0.85);
    min-height: 45px;
    width: 90%;
    bottom: 70px;
    left: 19px;
    /* transition: bottom 250ms ease-in, visibility 350ms, opacity 1.5s; 
    transition: all 0.15s ease-in-out, opacity 1.2s; */
    transition: all 0.25s ease-in-out, opacity 1.2s;
}

.image-title h3 {
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    /* position: relative; */
    line-height: 1.4;
    font-family: "Poppins";
}

.image-title h3::after {
    content: "\f054";
    font-family: "FontAwesome";
    position: absolute;
    color: #ffffff;
    font-size: 16px;
    right: 10px;
}

.imagebox-content {
    background: rgba(65, 84, 100, 0.85);
    max-width: 27vw;
    width: 27vw;
    height: 0%;
    position: absolute;
    top: 25px;
    left: 5px;
    visibility: hidden;
    transition: all .35s ease-in-out;
    /*
    transition: visibility 300s;
    transition: height .55s;
    transition: top 3s;*/
}

.imagebox-item:hover .image-title {
    bottom: -50px;
    visibility: hidden;
    opacity: 0.9;
}

.imagebox-item:hover .imagebox-content {
    top: 25px;
    visibility: visible;
    height: 100%;
  
}

.imagebox-desc {
    font-family: Poppins;
    color: #fff;
    font-size: 14px;
    padding: 30px 30px 40px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100);
    transition: all 0.5s ease-in-out;
}

.imagebox-button {
    margin-top: 30px;
    background: rgba(24, 186, 96, 0.8);
    padding: 13px 52px 13px 30px;
    position: absolute;
    line-height: 24px;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: Poppins;
    font-size: 100%;
    font-weight: 600;
    margin-left: 30px;
    opacity: 0;
    visibility: hidden; 
    transition: all 0.4s ease-in-out;
}

.imagebox-button a {
    color: #fff;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
}

.imagebox-button:hover a {
    color: black;
}
.imagebox-content .imagebox-button:hover
{
    background: white;
    
}

/*
.imagebox-content .imagebox-button a:hover {
    color: white;
}
*/

.imagebox-content .imagebox-button:hover a::before {    
    color: black;
}


.imagebox-content .imagebox-button a::before {
    content: "\f054";
    font-family: "FontAwesome";
    position: absolute;
    top: 50%;
    right: 30px;   
    transform: translateY(-50%);
    color: #ffffff;
    font-size: 12px;
}

.imagebox-item:hover .imagebox-desc  {
    visibility: visible;
    opacity: 1;
}


.imagebox-content:hover .imagebox-button {
    opacity: 1;
    visibility: visible;
}


/* -------------------------  Image Separator after Overview Section --------------------------- */

#image_separator {
    height: 60vh;
    width: 100%;
    background-image: url("https://source.unsplash.com/MYbhN8KaaEc");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;  
    margin-top: 10em;
    opacity: 0.8;
}

#image_separator .body {
    width: 100%;
}

/* -------------------------  Services Section --------------------------- */

#services {
    margin-top: 10em;
}

#services h2 {
    font-size: 32px;
    font-weight: 600;
    padding: 30px 0;
    color: #222222;
    font-family: 'Poppins';
    margin-left: 20px;
    position: relative;
}

#services h2::after {
    content: '';
    position: absolute;
    height: 5px;
    width: 50px;
    background-color: #18ba60;
    bottom: 0px;
    left: 0;
    border-radius: 2px;    
}

.itembox {
    width:32%;
    height:200px;
    position: relative;
    float: left;
    margin-top: 0px;
    margin-left: 10px;
}

.itembox .title {
    position: absolute;
    left:30%;
    top: 20%;
}

.itembox .description {
    position: absolute;
    left:30%;
    top: 35%;
    padding-top: 5px;
}

.icon-rounded::after {
    content: '';    
    height: 54px;
    width: 54px;
    position: absolute;
    left:17px;
    top: 60px;
    border-radius: 2px;
    background-color: #18ba60;
    transform: rotate(45deg);
    border: 2px solid black;
}

.icon-rounded::before {
    font-family: "Ionicons";
    color:white;
    font-size: 28px; 
    z-index: 10;
    position: absolute;
    left:35px;
    top: 73px;
}

.icon-rounded.ion-clipboard::before {
    content: "\f127";    
}

.icon-rounded.line-chart::before {
    content: "\f262";
    left: 30px;
}

.icon-rounded.clock::before {
    content: "\f35a";
    left:33px;
}

.icon-rounded.magic::before {
    content: "\f358";
    left:33px;
}

.icon-rounded.artboard::before {
    content: "\f3c2";
    left:33px;
}

.icon-rounded.global::before {
    content: "\f38c";
    left:33px;
}

#services .itembox .description {
    font: 14px/24px "Poppins", sans-serif;
    color: #666666;
}

#services .itembox .title   {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #222222;
    font-family:  "Poppins", sans-serif;
    font-size: 14px/24px;
}

.iconbox:hover .icon-rounded:after {
    background-color: #2e363a;

}

.iconbox a {
    transition: 1s color ease-in-out;
    text-decoration: none;
    color: #2e363a;;
}

.iconbox a:hover {
    color: #18ba60;
}

/* -------------------------  Media (IE) --------------------------- */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */

    #showcase {
        width: 100vw;
        height: 100vh;
        position: relative;
        font-family: Raleway;
        font-size: 2.5rem;
    }

    /* Removing any outline from above to 
       do it again via :after 
    */

    #intro .textbox-about {
        outline: none;
    }

    #intro .textbox-about:after {
        content: "";
        position: absolute;
        top: 2.5em;
        left: 2.5em;
        right: 2.5em;
        bottom: 2.5em;
        display: inline-block;
        border: 2px solid #00ff6C;

    }

    #intro h1 {
        top: 1em;
        background: #232323;
        z-index: 30;
        width: 50%;
        padding: 0;
        margin: 0;
        font-size: 1.5rem;
    }
}


